WebApplication_TP1/Service References/ServiceReference1/servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerEquipos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="incluirDeTorneosInactivos" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerEquiposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerEquiposResult" type="tns:ArrayOfEquiposDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEquiposDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EquiposDTO" nillable="true" type="tns:EquiposDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EquiposDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreEquipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreTorneo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Activo" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerEquiposSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerEquipos" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerEquiposResponse" />
  </wsdl:message>
  <wsdl:portType name="servicioSoap">
    <wsdl:operation name="ObtenerEquipos">
      <wsdl:input message="tns:ObtenerEquiposSoapIn" />
      <wsdl:output message="tns:ObtenerEquiposSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicioSoap" type="tns:servicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEquipos">
      <soap:operation soapAction="http://tempuri.org/ObtenerEquipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicioSoap12" type="tns:servicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEquipos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerEquipos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicio">
    <wsdl:port name="servicioSoap" binding="tns:servicioSoap">
      <soap:address location="http://localhost:62071/WebServices/servicio.asmx" />
    </wsdl:port>
    <wsdl:port name="servicioSoap12" binding="tns:servicioSoap12">
      <soap12:address location="http://localhost:62071/WebServices/servicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>